# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env
.env.local

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# Secrets
*.pem
nginx/ssl/*.pem
cloudcomputing_key
cloudcomputing_key.pub
env_for_server.txt
setup_env_on_server.sh
